*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#raiz {
  height: 100%;
}

body {
  margin: 0;
  background: var(--fundo-profundo);
  color: var(--texto);
  font-family: var(--fonte-texto);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

img,
svg,
canvas {
  display: block;
  max-width: 100%;
}
